logs/
rebuttal_logs/
rebuttal_resource/
__pycache__/
data/
figs/
./nohup.out
resources/
model_weights/
results_in_markdown.md
*.svg
*.ipynb
rebuttal_results_in_markdown.md
mdTable2LatexTable.py
parse_log_to_md_table.py
